PeiHuoApp/build.gradle
gradle
gradle/wrapper
/build.gradle
*.iml
.gradle
.idea
/gradle
/peihuo.iml
/gradlew
/gradlew.bat
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild